@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    background-color: #001D3D   ;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}